.card {
    background-color: white;
    width: 724px;
    padding: 128px 64px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card img {
    margin-top: 32px;
}

.card .img2{
    position: relative;
    right: 25px;
}

/* .img img:last-child{
    position: absolute;
    right: 1028px;
} */

/* .card .img::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: url('../../images/Group\ 3.png');
    position: absolute;
    transform:translate(310px,35px);
    z-index: 2;
} */

.cards2{
    display: flex;
    flex-wrap: wrap;
}

.card2{
   width: 450.67px;
    margin-right: 96px;
}